@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --blue: #3EB2F8;
  --light-blue: #caebff;
  --dark-blue: #3eb2f833;
  --cream: #EDF7FE;
  --white: #ffffff;
  --black: #000000;
}

body {
  padding: 50px;
  font-family: Arial;
}

input[type="search"] {
  width: 100%;
  max-width: 400px;
  padding: 10px 16px;
  margin-bottom: 20px;
  font-family: "Inter", sans-serif;
  border: 2px solid var(--blue);
  border-radius: 6px;
  outline: none;
  background-color: var(--cream);
  color: var(--black);
  font-size: 1.1em;
}

input[type="search"]:focus {
  border-color: var(--blue);
  box-shadow: 0 0 0 3px var(--dark-blue);
}

input[type="search"]::-webkit-search-cancel-button {
  cursor: pointer;
  font-size: 1.1em;
}

a {
  font-size: 16px;
  margin-bottom: 5px;
  display: block;
  text-decoration: none;
  padding: 8px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: var(--black);
  border: 2px solid var(--white);
  border-radius: 6px;

  &:hover {
    border: 2px solid var(--blue);
    background: var(--cream);
  }

  &:active {
    border: 2px solid var(--blue);
    background: var(--cream);
  }
}

a.active {
  border: 2px solid var(--blue);
  background: var(--cream);
  background: var(--light-blue);
}

a span {
  display: inline-block;
  background-color: var(--blue);
  color: var(--white);
  width: 70px;
  padding: 3px 0;
  margin-right: 20px;
  text-align: center;
}