@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --text-color-1: #3EB2F8;
  --text-color-2: #EDF7FE;
}

body {
  padding: 50px;
  font-family: Arial;
}

a {
  font-size: 16px;
  margin-bottom: 5px;
  display: block;
  text-decoration: none;
  padding: 8px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: #000;
  border: 2px solid #fff;
  border-radius: 6px;
  
  &:hover {
    border: 2px solid var(--text-color-1);
    background: var(--text-color-2);
  }
}

a span {
  display: inline-block;
  background-color: var(--text-color-1);
  color: #fff;
  width: 70px;
  padding: 3px 0;
  text-align: center;
}